*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    align-items: center;
}
.content{
    text-align: center;
}
.row{
    margin: 5px;    
}
.row button{
    height: 20px;
    width: 25px;      
    border: 2px solid #4CAF50; /* Set the border width and color */
    padding: 16px 17px; /* Set padding for better visual appearance */
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    /* text-align: center; */
    color: black; /* Set the text color */
    border-radius: 5px;
}
.content input {
  height: 7px;
  width: 160px;
  padding: 16px 17px; 
  border: 2px solid #4CAF50;
  border-radius: 6px;
  background-color: #e3e8e4; 
  color: rgb(138, 28, 28);
  font-size: 18px;
  font-weight:bold;
  font-family:'Courier New', Courier, monospace;
}
.equal {
  background-color: #ff6c00;
}